In [126]:
import pandas as pd
import json
import requests

In [ ]:
ctr_df=pd.read_csv('/Users/ramonmartin/Documents/Projects/Covid/country_codes.csv')
ctr_df.dropna(inplace=True)
ctr_list=ctr_df['Code'].tolist()
ctr_list

In [128]:
len(ctr_list)

248

In [129]:
url1='https://holidayapi.com/v1/holidays?pretty&key=9b437c26-b4e8-4116-9c4c-742201f21c32&country='
url3='&year=2019'

In [130]:
df=pd.DataFrame()

In [131]:
for i in range(len(ctr_list)):
    url2=ctr_list[i]
    url = url1+url2+url3
    r = requests.get(url)
    q=r.json()
    try:
        df2=pd.DataFrame(q['holidays'])
        df2.drop(['observed', 'uuid', 'weekday'], axis=1, inplace=True)
        df= pd.concat([df, df2], ignore_index=True)
    except:
        print(ctr_list[i])

In [132]:
df.shape

(6603, 4)

In [139]:
ctr_df.columns = ['Country', 'Code']
ctr_df

               Country Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[248 rows x 2 columns]

In [143]:
df=df.merge(ctr_df, left_on="country", right_on='Code')

In [147]:
df.drop(['country'], axis=1, inplace=True)
df

                    name        date  public      Country Code
0         Liberation Day  2019-02-15    True  Afghanistan   AF
1     World Wildlife Day  2019-03-03   False  Afghanistan   AF
2           Mother's Day  2019-03-08   False  Afghanistan   AF
3          March Equinox  2019-03-20   False  Afghanistan   AF
4         New Year's Day  2019-03-21    True  Afghanistan   AF
...                  ...         ...     ...          ...  ...
6598           Unity Day  2019-12-22    True     Zimbabwe   ZW
6599       Christmas Eve  2019-12-24   False     Zimbabwe   ZW
6600       Christmas Day  2019-12-25    True     Zimbabwe   ZW
6601          Boxing Day  2019-12-26    True     Zimbabwe   ZW
6602      New Year's Eve  2019-12-31   False     Zimbabwe   ZW

[6603 rows x 5 columns]

In [148]:
df.to_csv('holidays.csv', index=False)